#balance{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#balance button{
    color: black;
  background-color:  rgb(212, 212, 212);
  font-size: 1em;
  width: 50%;
  margin-right: 50px;
  margin: auto;
  border-radius: 50px;
  border: none;
}
#balance button:hover{
    border: 1px solid black;
    box-sizing: border-box;
    
}